<div class="bg-custombg  d-flex py-5">
    <div class="col-4 text-white text-center">
        <p class="fs-3 fw-bold ">Location</p>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
    </div>
    <div class="col-4 text-white text-center ">
        <p class="fs-3 fw-bold ">AROUND THE WEB</p>
      <div class="justift-space-between ">
        <i class="fa-brands fa-facebook fs-3 px-1"></i>
        <i class="fa-brands fa-twitter fs-3 px-1"></i>
        <i class="fa-brands fa-linkedin fs-3 px-1"></i>
        <i class="fa-solid fa-globe fs-3 px-1"></i>
       
      </div>
    </div>
    <div class="col-4 text-white text-center">
       <p class="fs-3 fw-bold ">ABOUT FREELANCER</p>
       <p>Freelance is a free to use, licensed Bootstrap theme</p>
       <p>created by Route</p>
    </div>
</div>
<div class="text-white text-center bg-dark py-3">
    <p class="text-white text-center fs-5 pb-3">Copyright © Your Website 2024</p>
</div>
