<div class="bg-customcolor">
    <h1 class="text-center text-white pt-5">ABOUT COMPONENT</h1>
    <div class="text-center d-flex align-items-center">
        <div class="col-1 bg-white  linestyle border-rounded text-center"></div>
        <i class="fa-solid  fa-star text-white px-2"></i>
        <div class="col-1 bg-white rightline  border-rounded text-center"></div>
    </div>
    <div class="row">
    <div class="col-2"></div>
    <div class="col-4 text-white">
       Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
    </div>
    <div class="col-4 text-white ">
    Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
    </div>
    </div>
</div>
