.bg-imgbg {
    background-image: rgb(56, 206, 173);
}
.bg-color{
    background-color: rgb(56, 206, 173);
}
.linestyle{
    height: 0.30rem;
    margin-left: 40%;
}

.rightline{
    height: 0.30rem;
}